---
interface News {
  date: string;
  title: string;
  description: string;
  image: string;
  link: string;
}

const getThumbnail = (videoID: string): string => `http://img.youtube.com/vi/${videoID}/maxresdefault.jpg`;

const newsData: News[] = [
  {
    title: 'PonShot lit up the ShinAnime Game Stage 2019',
    description: 'The indie game stole the spotlight with fast-paced matches and an electrified crowd. PonShot debuted with full force!',
    image: getThumbnail('0SslVX4Z2S0'),
    date: '2024/03/20',
    link: 'https://www.youtube.com/watch?v=0SslVX4Z2S0&list=PLA4PPfiKBx4JOxItrYtL7dtpzA7Hno7aC&index=1'
  },
  {
    title: 'PonShot’s Best Moments at Gamers Day',
    description: 'Unforgettable highlights as players pulled off insane moves. PonShot brought pure chaos and hype to the event.',
    image: getThumbnail('Jp9w8QXplh8'),
    date: '2024/03/18',
    link: 'https://www.youtube.com/watch?v=Jp9w8QXplh8&list=PLA4PPfiKBx4JOxItrYtL7dtpzA7Hno7aC&index=2'
  },
  {
    title: 'This is PonShot’s Voice: Narrator Revealed',
    description: 'With a voice full of energy and attitude, PonShot’s narrator takes the action to the next level. Hit play and feel the hype!',
    image: getThumbnail('tDNijpX1Kow'),
    date: '2024/03/15',
    link: 'https://www.youtube.com/watch?v=tDNijpX1Kow'
  },
]; 

---

<section class="ponshot-block ponshot-block--flush-spaced">
  <div class="section-content">
    <h2>News & Updates</h2>
    <ul class="news__list">
      {
        newsData.map((news) => <li class="news__list-item">
          <div class="news__image-wrapper">
            <img class="news__image" alt={news.title} src={news.image}>
          </div>
          <span class="news__date">{news.date}</span>
          <h3 class="news__title">{news.title}</h3>
          <p class="news__description">{news.description}</p>
          <a class="news__link" href={news.link}></a>
        </li>)
      }
    </ul>
  </div>
</section>

<style lang="scss" scoped>
  .ponshot-block {
    background: linear-gradient(180deg,rgba(20, 20, 20, 1) 0%, rgba(0, 0, 0, 1) 100%);
  }
  .news {
    &__list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
      gap: 3rem;
      margin-top: 4rem;
    }

    &__list-item {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 1.6rem;

      &:hover {
        .news__image {
          transform: scale(1.2);
        }
      }
    }

    &__image-wrapper {
      width: 100%;
      aspect-ratio: 16 / 10;
      overflow: hidden;
    }
    
    &__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s;
    }

    &__title {
      text-transform: uppercase;
      font-size: 2.4rem;
    }

    &__date {
      letter-spacing: 1px;
    }

    &__link {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
</style>